main #contact{
    background-image: url(../images/bg-contact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .contacttext{
        text-align: center;
        margin: 0 205px;
        p{
            font-size: 24px;
            @extend %title-blue;
            padding: 6px 46px !important;
            letter-spacing: 2px;
            margin: 32px 0px;
            cursor: pointer;
        }
    }
    .contactcontent{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        span{
            letter-spacing: 1px;
            font-family: Meiryo;
            color:#ffffff;
            font-size: 16px;
            line-height: 26px;
        }
    }
    .contact-r{
    .col-4.phone{
        padding-bottom: 21px;
        a{
            @extend %phone;
            &:before{
            content: url('../images/icon-phone.png');
            }
            font-size:36px;
            font-family: Din-Bold;
            color: #ffffff;
        }
        span{
            color:#ffffff;
            font-size:12px;
        }
    }
    .col-4.mar-mail{
        margin-top: 85px;
        margin-bottom: 29px;
        .email{
            margin-top: -56px;
            @extend %btn-mail; 
            width: 276px;
            height: 50px;
            }
        }
    }
}