@font-face{font-family: Meiryo;src: url('../fonts/meiryo.ttc');}
@font-face{font-family: Meiryob;src: url('../fonts/meiryob.ttc');}
@font-face{font-family:ShinGoPro-DeBold;src: url('../fonts/ShinGoPro-DeBold.otf');}
@font-face{font-family:ShinGoPro-Regular;src: url('../fonts/ShinGoPro-Regular.otf');}
@font-face{font-family:Din-Bold;src: url('../fonts/DINBold.ttf');}
@font-face{font-family:HiraKakuProN-W3;src: url('../fonts/HiraKakuProN-W3.otf');}
@font-face{font-family:HiraKakuProN-W6;src: url('../fonts/HiraKakuProN-W6.otf');}
@font-face{font-family:MyriadPro-Regular;src: url('../fonts/MyriadPro-Regular.otf');}
