.menu{
    display: inline;
    li{
        display: inline-block;
        padding-bottom: 20px;
        border-bottom: 4px solid #fff;
        margin-left: -6px;
        margin-bottom: -21px;
        a{
            @extend %menu-p;
            padding: 0 37px;
            text-align: center;
            border-right: 1px solid #dddddd;
            display: inline-block;
            color: #000000;
        }
        &:first-child a{
            border-left: 1px solid #dddddd;
        }
        &:hover{
            border-bottom: 4px solid #dddddd;
        }
    }
}
div.bar-block .menu-li{display: none}