/* --Start banner-- */
.tv-banner{
    background-position: bottom;
    background-position-x: inherit;
    background-image: url(../images/bg-contact.png);
    background-repeat: no-repeat;
    margin-top: 22px;
    a{
        font-family: Meiryo;
        font-size: 28px;
        color:#ffffff;
        margin: 60px auto;
    }
}/* --End banner-- */
/* --line-- */
main .line{
    border-bottom: 1px solid #dddddd;
    ol.breadcrumb{
        padding: 16px 5px;
        list-style: none;
        .breadcrumb-item{
            display: inline-block;
        }
        li:first-child{
            border-bottom: 1px solid #a5b8d0;
        }
        li:nth-child(2){
            margin-left: 8px;
            font-size: 12px;
        }
    }
}/* --End line-- */
/* --Start services-- */
div#services{
    margin-top: 66px;
    .sers-title{
        cursor: pointer;
        display: block;
        span{
            color:#111111;
            font-family: Meiryo;
            font-size: 26px;
        }
        img{
            display: block;
            padding: 10px 228px;
        }
        p{
            margin-top: 46px;
            font-size: 16px;
            font-family: Meiryo;
            color: #525252;
        }
    }
    .table-content{
        table, th, td {
            padding: 12px;
            border: 1px solid #cccccc;
            border-collapse: collapse;
            font-size: 16px;
            font-family: Meiryo;
        }
        thead tr th{
            background-color: #0e5b9a;
            color: #ffff;
        }
        th.th1{
            width:260px;
            }
        th.th2{
            width:219px;
        }
        th.th3{
            width: 470px;
        }
        td{
            background-color: #fff;
            color: #111111;
            padding-bottom: 60px;
        }
        margin: 48px 0;
    }
}

/* --End services-- */
/* --Start main-service -- */
.bg-service{
    padding-bottom: 66px;
    background-color: #eeeeee;
    div#main-service{
        margin-top: 66px;
        padding-top: 40px;
        .sers-title{
            margin-bottom: 46px;
            cursor: pointer;
            display: block;
            span{
                color:#111111;
                font-family: Meiryo;
                font-size: 26px;
            }
            img{
                display: block;
                padding: 10px 228px;
            }
        }
    }
    .ser{
        background-color: #ffffff;
        margin-top: 30px;
        .col-8{
            padding-bottom: 25px;
            .ser-title{
                padding: 15px 0 30px 15px;
                margin-bottom: -13px;
                img{
                    margin-bottom: -15px;
                }
                span{
                    cursor: pointer;
                    padding: 0 15px;
                    color:#0e5b9a;
                    font-size: 24px;
                    font-family: 'ShinGoPro-Regular';
                }
                p{
                    color:#111111;
                    font-family: Meiryo;
                    font-size: 16px;
                    padding: 25px 0px;
                }
                a{
                    color:#0e5b9a;
                    font-family: Meiryob;
                    font-size: 16px;
                }
            }
            .ser-title:before{
                margin-left: 25px;
            }
            .ser-phone{
                width: 278px;
                border: 1px solid #0e5b9a;
                margin-left: 36px;
                a{
                    padding-top: 0px !important;
                    @extend %phone;
                    font-size:25px;
                    font-family: Din-Bold;
                    color: #0f5c9b;
                    padding-left: 24px;
                } 
                 &:before{
                        float: left;
                        content: url(../images/icon-phone-blue.png);
                        margin-right: -68px;
                        padding-top: 3px;
                        margin-left: 34px;
                    }
                span{
                    color:#0e5b9a;
                    font-size:10px !important;
                    font-family: Meiryo;
                }
            }
            .email{
                @extend %btn-mail; 
            }
        }
        .col-4 img{
            padding: 29px 32px 0px 6px;
        }
    }
}
/* --End main-service -- */
/*  */
.slide{
    height: 300px;
    p{
        margin-bottom: 60px;
        padding: 1px 37px;
        border: 1px solid #0f5c9b;
        color: #0f5c9b;
        font-size: 24px;
    }
    span{
        font-size: 16px;
        font-family: Meiryo;
        color: #525252;
        a{
            color:#0f5c9a;
            font-size: 22px;
        }
    }
}